<h1><%= "#{OrderStart.model_name.human} #{@order.code}" %></h1>
<% if @transport_modes.present? and @transport_modes.any? {|trans| trans.vehicles.where(status: :available).find_by("maximum_load > ?", @order.weight).present?} %>
<%= form_with model: [@order, @order_start] do |order| %>

<% if @order_start.errors.any? %>

  <div class="bg-warning" id="error_explanation">
    <div>
      <% @order_start.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
           </div>
<% end %>
  </div>
<% end %>

<div><p>
<%= order.label :transport_mode_id, 'Opções de Entrega' %>

<div><p>
<% options_array = @transport_modes.map {|trans| ["#{trans.name} - #{number_to_currency(trans.full_value(@order), locale: 'pt-BR')} - #{trans.deadline(@order)}h", trans.id]} %>
<%= order.select(:transport_mode_id, options_array)%>

<div><p>
<%= order.label :order_date %>
<%= order.date_field :order_date, value: Date.today %>
</div></p>
<div>
<%= order.submit 'Iniciar Ordem de Serviço', class: "btn btn-primary  btn-m" %>
</div></p>
<% end %>

<% else %>
<h3>No momento, não há Veículos disponíveis para essa Ordem de Serviço</h3>
<% end %>
</div><p>
<%= link_to 'Voltar', @order, {class: "btn btn-primary  btn-m"} %>
</div></p>




