<h1>Editar linha <%= @weight_line.id %> da <%= WeightTable.model_name.human %></h1>
<%= form_with model: [@transport_mode, @weight_line] do |line| %>
<% if @weight_line.errors.any? %>

  <div class="bg-warning" id="error_explanation">

    <div>
      <% @weight_line.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :value %></th>

</tr>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :value, step: :any %></th>

</tr>
</table>
<p><%= line.submit 'Enviar', class: "btn btn-primary  btn-m" %></p>

<% end %>

