<h1>Tabelas de Preço</h1>
<div id="weight-table">
<h3>Tabela de preços por peso</h3>
<% if @weight_table.present? %>
<table>
<tr>
    <th>Intervalo de pesos</th>
    <th></th>
    <th>Preço por kg</th>
<% @weight_table.each do |line| %>
</tr>
<tr>
    <th><%= line.min %>kg</th>
    <th><%= line.max %>kg</th>
    <th><%= number_to_currency(line.value, locale: 'pt-BR')  %></th>
    <th><%= (link_to "Editar linha #{line.id}", edit_weight_table_path(line)) if current_user.admin == true %></th>
</tr>
<% end %>
</table>
<% else %>
<h3>Nenhum dado cadastrado.</h3>
<% end %>
<% if current_user.admin == true %>
</p><%= link_to 'Adicionar linha à tabela de Peso', new_weight_table_path %></p>
<% end %>
</div>
<div id="distance-table">
<h3>Tabela de preços por distância</h3>
<% if @distance_table.present? %>
<table>
<tr>
    <th>Intervalo de distâncias</th>
    <th></th>
    <th>Preço por km</th>
<% @distance_table.each do |line| %>
</tr>
<tr>
    <th><%= line.min %>km</th>
    <th><%= line.max %>km</th>
    <th><%= number_to_currency(line.value, locale: 'pt-BR')  %></th>
    <th><%= (link_to "Editar linha #{line.id}", edit_distance_table_path(line)) if current_user.admin == true %></th>
</tr>
<% end %>
</table>
<% else %>
<h3>Nenhum dado cadastrado.</h3>
<% end %>
</div>
<% if current_user.admin == true %>
<p><%= link_to 'Adicionar linha à tabela de Distância', new_distance_table_path %></p>
<% end %>
<%= link_to 'Voltar', root_path %>
