<h1>Editar linha <%= @deadline.id %> da <%= DistanceTable.model_name.human %></h1>
<%= form_with model: [@transport_mode, @deadline] do |line| %>

<% if @deadline.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @deadline.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :time %></th>
<th><%= line.label :transport_mode_id %></th>
</tr>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :time %></th>
<th><%= line.collection_select :transport_mode_id, @transport_modes, :id, :with_distance_range, prompt:true %></th>
</tr>
</table>
<p><%= line.submit 'Enviar' %></p>

<% end %>

