<h1>Adicionar linha à <%= DistanceTable.model_name.human %></h1>
<%= form_with model: @distance_line do |line| %>

<% if @distance_line.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @distance_line.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :value %></th>
<th><%= line.label :transport_mode_id %></th>
<% if @last_line.present? %>
</tr>
<tr>
<th><%= @last_line.min %>km</th>
<th><%= @last_line.max %>km</th>
<th><%= number_to_currency(@last_line.value, locale: 'pt-BR') %></th>
</tr>
<% end %>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :value, step: :any %></th>
<th><%= line.collection_select :transport_mode_id, @transport_modes, :id, :name, prompt:true %></th>
</tr>
</table>
<p><%= line.submit 'Enviar' %></p>

<% end %>
