<h1><%= "#{Order.model_name.human} #{@order.code}" %></h1>
<dl>
<h3>Informações do Fornecedor</h3>
<dt><%= Order.human_attribute_name('takeout_address') %>: <%= @order.takeout_address %></dt>
<dt>Peso: <%= @order.weight %>kg</dt>
<dt>Dimensões: <%= "#{@order.heigth}x#{@order.width}x#{@order.depth}cm" %></dt>
<h3>Informações do Cliente</h3>
<dt><%= Order.human_attribute_name('name') %>: <%= @order.name %></dt>
<dt><%= Order.human_attribute_name('email') %>: <%= @order.email %></dt>
<dt><%= Order.human_attribute_name('customer_id') %>: <%= @order.customer_id  %></dt>
<dt><%= Order.human_attribute_name('delivery_address') %>: <%= @order.delivery_address %></dt>

<p><%= Order.human_attribute_name('total_distance') %>: <%= @order.total_distance %>km</p>
<p><%= Order.human_attribute_name('status') %>: <%= t(@order.status) %></p>
</dl>

<%= link_to 'Iniciar Ordem de Serviço', new_order_order_start_path(@order) %>

<% if @order.waiting_confirmation?%>
<h3>Confirmação do Pedido</h3>
<p><%= @order.order_start.transport_mode.name %><p>
<p>Valor do Frete: <%= number_to_currency(@order.order_start.full_value, locale: 'pt-BR') %></p>
<p><%= @order.order_start.deadline %></p>
<% end %>

<% if current_user.admin and @order.on_route? %>
<%= button_to 'Marcar como Cancelada', set_canceled_order_path, { method: 'patch'} %>
<%= button_to 'Marcar como Entregue', set_delivered_order_path, { method: 'patch'} %>
<% end %>

<div style='inline-block'>
<%= link_to 'Voltar', orders_path %>

