<%= form_with model: @transport_mode do |trans| %>

<% if @transport_mode.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @transport_mode.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<dl>
<dt><%= trans.label :name %></dt>
<dt><%= trans.text_field :name %></dt>
<dt><%= trans.label :min_weight %>(kg)</dt>
<dt><%= trans.number_field :min_weight %></dt>
<dt><%= trans.label :max_weight %>(kg)</dt>
<dt><%= trans.number_field :max_weight %></dt>
<dt><%= trans.label :min_distance %>(km)</dt>
<dt><%= trans.number_field :min_distance %></dt>
<dt><%= trans.label :max_distance %>(km)</dt>
<dt><%= trans.number_field :max_distance %></dt>
<dt><%= trans.label :shipping_value %></dt>
<dt><%= trans.number_field :shipping_value %></dt>
</dl>
<%= trans.submit 'Enviar' %>

<% end %>
