<article>
  <header>
    <h1><%= @transport_mode.name %> <%= @transport_mode.active? ? '(Ativo)' : '(Inativo)' %></h1>
    
    <div class="bg-warning" id="error_explanation">
      <% if !alert.nil? %>
        <% if !(alert.class == String) %>
          <% alert.each do |error| %>
            <p><%= error %></p>
    
        <% end %>
      <% end %>
    <% end %>
    </div>
  <header>
  <main>
    <p>
      <% if current_user.admin? %>
        <% if @transport_mode.active? %>
          <%= button_to 'Desativar', deactivate_transport_mode_url, { method: 'patch', class: "btn btn-primary  btn-m"} %>
        <% else %>
          <%= button_to 'Ativar', activate_transport_mode_url, { method: 'patch', class: "btn btn-primary  btn-m"} %>
        <% end %>
      <% end %>
    </p>
    
    <section>
      <h4>Tabela de informações de uso</h4>
      <table class="table bg-primary table-striped table-hover">
        <tr>
          <th scope="col"></th>
          <th scope="col">Carga Suportada</th>
          <th scope="col">Faixa de Distâncias</th>
        </tr>
        <tr>
          <td>Min</td>
          <td ><%= @transport_mode.min_weight %>kg</td>
          <td><%= @transport_mode.min_distance %>km</td>
        </tr>
        <tr>
          <td>Max</td>
          <td><%= @transport_mode.max_weight %>kg</td>
          <td><%= @transport_mode.max_distance %>km</td>
        </tr>
      </table>
      <p>
        <%= TransportMode.human_attribute_name('fixed_rate') %>: <%= number_to_currency(@transport_mode.fixed_rate, locale: 'pt-BR') %>
      </p>
      <div style='inline-block'>
        <% if current_user.admin? %>
          <p>
            <%= link_to 'Editar Modo de Transporte', edit_transport_mode_url, {class: "btn btn-primary  btn-m"} %>
          </p>
        <% end %>
      </div>
    </section>
    
    <section id="price_tables">
      <%= render partial: 'transport_modes/tables/table', locals: { 
                                                                    table_model: WeightTable,
                                                                    table: @weight_table, 
                                                                    table_url: 'weight_tables',
                                                                    line_type: @weight_line,
                                                                    trans_mod: @transport_mode,
                                                                    table_css: "weight-table",
                                                                    interval: 'Intervalo de pesos',
                                                                    unit: 'kg',
                                                                    price_for: 'Preço por kg'
                                                                  } %>
    
      <%= render partial: 'transport_modes/tables/table', locals: { 
                                                                    table_model: DistanceTable,
                                                                    table: @distance_table, 
                                                                    table_url: 'distance_tables',
                                                                    line_type: @distance_line,
                                                                    trans_mod: @transport_mode,
                                                                    table_css: "distance-table",
                                                                    interval: 'Intervalo de Distâncias',
                                                                    unit: 'km',
                                                                    price_for: 'Preço por faixa de km'
                                                                  } %>
    
      <%= render partial: 'transport_modes/tables/table', locals: { 
                                                                    table_model: Deadline,
                                                                    table: @deadline, 
                                                                    table_url: 'deadlines',
                                                                    line_type: @deadline_line,
                                                                    trans_mod: @transport_mode,
                                                                    table_css: "deadline-table",
                                                                    interval: 'Intervalo de Distâncias',
                                                                    unit: 'km',
                                                                    price_for: 'Tempo de Entrega'
                                                                  } %>
    </section>
  </main>
  <footer>
    <%= link_to 'Voltar', transport_modes_path, class: "btn bg-primary  btn-m" %>
  </footer>
</article>


