<h1><%= @transport_mode.name %> <%= @transport_mode.active? ? '(Ativo)' : '(Inativo)' %></h1>
<h3>Tabela de informações de uso</h3>
<table>
<tr>
    <th></th>
    <th>Carga Suportada</th>
    <th>Faixa de Distâncias</th>

</tr>
<tr>
    <th>Min</th>
    <th><%= @transport_mode.min_weight %>kg</th>
    <th><%= @transport_mode.min_distance %>km</th>
</tr>
<tr>
    <th>Max</th>
    <th><%= @transport_mode.max_weight %>kg</th>
    <th><%= @transport_mode.max_distance %>km</th>
</tr>
</table>
<p><%= TransportMode.human_attribute_name('fixed_rate') %>: <%= number_to_currency(@transport_mode.fixed_rate, locale: 'pt-BR')%></p>
<div style='inline-block'>
<% if current_user.admin %>
<%= link_to 'Editar Modo de Transporte', edit_transport_mode_path %>
</div>
<%= button_to @transport_mode.active? ? 'Desativar' : 'Ativar', @transport_mode.active? ? deactivate_transport_mode_path : activate_transport_mode_path, { method: 'patch'} %>
<% end %>


<div id="weight-table">
<h2><%= WeightTable.model_name.human %></h2>
<% if @weight_table.present? %>
<table>
<tr>
    <th>Intervalo de pesos</th>
    <th></th>
    <th>Preço por kg</th>
<% @weight_table.each do |line| %>
</tr>
<tr>
    <th><%= line.min %>kg</th>
    <th><%= line.max %>kg</th>
    <th><%= number_to_currency(line.value, locale: 'pt-BR')  %></th>
    <th><%= (link_to "Editar linha #{line.id}", edit_transport_mode_weight_table_path(line)) if current_user.admin == true %></th>
</tr>
<% end %>
</table>
<% else %>
<h3>Nenhum dado cadastrado.</h3>
<% end %>
<% if current_user.admin == true %>
@order = Order.find(params[:order_id])

<h4>Adicionar linha à <%= WeightTable.model_name.human %></h4>
<%= form_with model: [@transport_mode, @weight_line] do |line| %>
<% if @weight_line.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @weight_line.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :value %></th>
<th><%= line.label :transport_mode_id %></th>
</tr>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :value, step: :any  %></th>
<th><%= line.collection_select :transport_mode_id, @transport_modes, :id, :with_weight_range %></th>
</tr>
</table>
<p><%= line.submit 'Enviar' %></p>

<% end %>
<% end %>
</div>

<div id="distance-table">
<h2><%= DistanceTable.model_name.human %></h2>
<% if @distance_table.present? %>
<table>
<tr>
    <th>Intervalo de Distâncias</th>
    <th></th>
    <th>Preço por faixa de km</th>
<% @distance_table.each do |line| %>
</tr>
<tr>
    <th><%= line.min %>km</th>
    <th><%= line.max %>km</th>
    <th><%= number_to_currency(line.value, locale: 'pt-BR')  %></th>
    <th><%= (link_to "Editar linha #{line.id}", edit_transport_mode_distance_table_path(line)) if current_user.admin == true %></th>
</tr>
<% end %>
</table>
<% else %>
<h3>Nenhum dado cadastrado.</h3>
<% end %>
<% if current_user.admin == true %>
<h4>Adicionar linha à <%= DistanceTable.model_name.human %></h4>
<%= form_with model: [@transport_mode, @distance_line] do |line| %>

<% if @distance_line.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @distance_line.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :value %></th>
<th><%= line.label :transport_mode_id %></th>
</tr>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :value, step: :any %></th>
<th><%= line.collection_select :transport_mode_id, @transport_modes, :id, :with_distance_range, prompt:true %></th>
</tr>
</table>
<p><%= line.submit 'Enviar' %></p>
<% end %>
<% end %>
</div>


<div id="deadline-table">
<h2><%= Deadline.model_name.human %></h2>
<% if @deadline.present? %>
<table>
<tr>
    <th>Intervalo de Distâncias</th>
    <th></th>
    <th>Tempo de Entrega</th>
<% @deadline.each do |line| %>
</tr>
<tr>
    <th><%= line.min %>km</th>
    <th><%= line.max %>km</th>
    <th><%= line.time %>h</th>
    <th><%= (link_to "Editar linha #{line.id}", edit_transport_mode_deadline_path(line)) if current_user.admin == true %></th>
</tr>
<% end %>
</table>
<% else %>
<h3>Nenhum dado cadastrado.</h3>
<% end %>
<% if current_user.admin == true %>
<h4>Adicionar linha à <%= Deadline.model_name.human %></h4>
<%= form_with model: [@transport_mode, @deadline_line] do |line| %>

<% if @deadline_line.errors.any? %>

  <div id="error_explanation">
    <h2>Todos os campos devem ser preenchidos</h2>
    <div>
      <% @deadline_line.errors.each do |error| %>
        <% flash.now[:alert] = error.full_message%>
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>

        <% end %>
   </div>
<% end %>
  </div>
<% end %>
<table>
<tr>
<th><%= line.label :min %></th>
<th><%= line.label :max %></th>
<th><%= line.label :time %></th>
<th><%= line.label :transport_mode_id %></th>
<tr>
<th><%= line.number_field :min %></th>
<th><%= line.number_field :max %></th>
<th><%= line.number_field :time%></th>
<th><%= line.collection_select :transport_mode_id, @transport_modes, :id, :with_distance_range, prompt:true %></th>
</tr>
</table>
<p><%= line.submit 'Enviar' %></p>

<% end %>
<% end %>
</div>

<%= link_to 'Voltar', transport_modes_path %>


