<h1><%= Vehicle.model_name.human(count: 2)%> disponíveis:</h1>
<div id="vehicle-search">
<p>
<%= form_with url: search_vehicles_path, method: :get do |form|%>
    <%= form.label :query, 'Buscar Veículo' %>
    <%= form.text_field :query %>
    <%= form.submit 'Buscar'%>
<% end %>
</p>
</div>
<%  if current_user.admin?%>
<p><%= link_to 'Cadastrar novo Veículo', new_vehicle_path, class: "btn btn-primary  btn-m" %></p>
<% end %>
<% if @vehicles.present? %>
<% @vehicles.sort_by(&:transport_mode).each do |trans| %>
<h3><%= link_to trans.full_description, trans%> - <%= t(trans.status) %></h3>

<% end %>
<% else %>
<h3>Nenhum <%= Vehicle.model_name.human %> disponível</h3>
<% end %>
