<h1><%= "#{@vehicle.full_description} (#{t(@vehicle.status)})" %></h1>
<h3>Informações do <%= Vehicle.model_name.human %></h3>
<dl>
<dt><%= Vehicle.human_attribute_name('vehicle_brand') %>: <%= @vehicle.vehicle_brand %></dt>
<dt><%= Vehicle.human_attribute_name('vehicle_model') %>: <%= @vehicle.vehicle_model %></dt>
<dt><%= Vehicle.human_attribute_name('nameplate') %>: <%= @vehicle.nameplate %></dt>
<dt><%= Vehicle.human_attribute_name('manifacture_year') %>: <%= @vehicle.manifacture_year %></dt>
<dt><%= Vehicle.human_attribute_name('maximum_load') %>: <%= @vehicle.maximum_load %>kg</dt>
<dt><%= Vehicle.human_attribute_name('transport_mode') %>: <%=link_to @vehicle.transport_mode.name, @vehicle.transport_mode %></dt>
</dl>

<div style='inline-block'>
<p><%= link_to 'Voltar', vehicles_path, {class: "btn btn-primary  btn-m"} %></p>
<% if current_user.admin and !@vehicle.out_for_delivery? %>
<p><%= link_to 'Editar dados do Veículo', edit_vehicle_path, {class: "btn btn-primary  btn-m"} %></p>
</div>
</p><%= button_to @vehicle.available? ? 'Mandar Veículo para manutenção' : 'Mandar Veículo para circulação', @vehicle.available? ? deactivate_vehicle_path : activate_vehicle_path, { method: 'patch', class: "btn btn-primary  btn-m"} %></p>
<% end %>
