<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
<nav id="nav links" class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Transporte & Frete</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%=transport_modes_path%>>Modos de Transporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%=vehicles_path%>>Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%=orders_path%>>Ordens de Serviço</a>
        </li>
      </ul>

      <div>
      <%= form_with url: search_orders_url, method: :get do |form|%>
    <%= form.label :order_query, 'Consultar Ordem de Serviço' %>
    <%= form.text_field :order_query %>
    <%= form.submit 'Buscar'%>
      <% end %>
      </div>
      <% if user_signed_in? %>
  Olá, <%= current_user.description %>
  <%= " 👑" if current_user.admin? %>
  <%= button_to 'Encerrar Sessão', destroy_user_session_path, method: 'delete' %>
  <% else %>
  <%= link_to 'Iniciar Sessão', new_user_session_path %>
  <% end %>
    </div>
  </div>
  </nav>
  <div><%= notice %></div>
  <body>
    <%= yield %>
  </body>
</html>
