<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <nav>
  <h1>Transporte & Frete</h1>
  <dt>
  <dl><%=link_to 'Modos de Transporte', transport_modes_path%></dl>
  </dt>
 <% if user_signed_in? %>
  <p>Olá, <%= current_user.description %></p>
  <%= button_to 'Encerrar Sessão', destroy_user_session_path, method: 'delete' %>
  <% else %>
  <%= link_to 'Iniciar Sessão', new_user_session_path %>
  <% end %>
  </nav>
  <div><%= notice %></div>
  <body>
    <%= yield %>
  </body>
</html>
